/.AppController.java._trace
/.RestfulServer.java._trace
/.SimpleSerie.java._trace
/.SimpleContenido.java._trace
/.SimplePeliculaRecomendada.java._trace
/.SimpleSerieRecomendada.java._trace
/.SimpleUsuarioPelicula.java._trace
/.SimpleUsuarioSerie.java._trace
/.SimpleCapitulo.java._trace
/.SimplePelicula.java._trace
/SimpleContenido.java
/SimpleUsuarioPelicula.java
